{:paths ["src" "resources"]

 :deps {org.clojure/clojure      {:mvn/version "1.10.2"}
        scicloj/clojisr          {:mvn/version "1.0.0-BETA17"}
        scicloj/tablecloth       {:mvn/version "5.00-beta-28"}
        scicloj/notespace        {:mvn/version "3-alpha3-SNAPSHOT"}
        nrepl/nrepl {:mvn/version "0.8.3"}}

 :aliases {:nrepl {:main-opts ["-m" "nrepl.cmdline" "-b" "0.0.0.0" "-p" "12345"]}}}